<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<stringAttribute key="bad_container_name" value="/org.testeditor.web.backend"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/org.testeditor.web.backend.persistence/src/main/xtend-gen/org/testeditor/web/backend/persistence/PersistenceApplication.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.testeditor.web.backend.persistence.PersistenceApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="server config.yml"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.testeditor.web.backend.persistence"/>
</launchConfiguration>
